.item-order-part {
    background-color: white;
    width: 95%;
    margin: 20px 0 20px 70px;

    .modify-table {
        padding: 1.2vw;
    }

    h3 {
        padding: 1.2%;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        width: 100%;
    }

    th {
        background-color: #893305;
        padding: 15px;
        color: #fff;
    }

    .avatar {
        width: 8%;
    }

    tr {
        text-align: center;
    }

    td {
        padding: 20px 5px;
        overflow-x: auto;
    }

    .table-btn {
        padding: 10px 8px;
        border-radius: 10px;
        border: 1px solid #fff;
        color: #fff;
    }

    .table-btn:hover{
        transition: 0.2s ease-in-out;
        background-color: #fff;
    }

    .table-create-order{
        margin: 18px;
    }
}