.main-nav {
    position: fixed;
    padding-top: 1.2%;
    text-align: center;
    border-top-right-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    float: left;
    width: 5%;

    .logo {
        .navimg {
            width: 70%;
            padding-bottom: 50%;
        }
    }

    .nav-items {
        margin-bottom: 11.5px;
        width: 66%;
        margin: auto;
        border: 1px solid #fff;
        border-radius: 14px;

        a {
            text-decoration: none;
        }

        .navimg {
            width: 65%;
        }

        p {
            font-size: 0.8vw;
        }

        margin-bottom: 15px;
    }

    .nav-items:hover {
        padding: 2px;
        border: 1px solid #893305;
        border-radius: 14px;
        transition: 0.2s;
    }
}