.create-menu-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-menu-h2 {
    text-align: center;
    color: #000;
}

.create-menu-form {
    margin-top: 20px;
}

.create-menu-label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.create-menu-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.create-menu-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2F2105;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins';
}

.create-menu-button:hover {
    background-color: #fff;
    color: #2F2105;
    transition: 0.3s;
}