.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}
.login-container input[type="text"],
.login-container input[type="password"],
.login-container button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.login-container button {
    background-color: #2F2105;
    color: #fff;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #fff;
    color: #2F2105;
    transition: 0.3s;
}
