html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;

}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  display: inline-block;
}
